.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}



.modulesWrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

.moduleCard {
  flex: 1;
  min-width: 280px;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  text-decoration: none;
  color: #000;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.moduleCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}

.moduleImage {
  width: 110px;
  height: auto;
  margin-bottom: 15px;
}

